*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
/* body{
    background-color: greenyellow;
} */


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
    padding:15px ;
    background-color:yellowgreen;
    border-bottom: 2px solid fuchsia;

}
h1{
    color: white;
}
span{
    color: fuchsia;
}
a{
    text-decoration: none;
    font-size: 24px;
    color:white ;
    margin: 15px;
    transition: all .2s ease-in-out;
}
a:hover{
    color: fuchsia;
    transform: scale(1.2);
    font-size:30px ;
}

.div1{
    width: 100%;
    height: 20%;
    background-color: yellowgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

p{
    font-size: 20px;
    color: white;
}
input{
    padding: 7px;
    border-radius: 15px;
    border: none;

}
button{
    background-color: red;
    padding: 7px;
    border-radius: 10px;
    color: white;
    border: none;
}
.about{background-color: white;
    width: 100%;
    height: 300%;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    
    

}
.about p{
    /* width: 100%;
    height: 200px; */
    color: black;
    padding: 10px;
    margin: 5px 20px;
}
.about-left{
    /* width: 150%; */
    padding: 15px;
    /* height: 400px; */
    width: 70%;
    
}
.about-left p:nth-last-child(1){
    background-color: yellowgreen;
    color: white;
}
.about-right{
    background-color: yellowgreen;
    color:black;
    margin-bottom: 250px;
    padding: 5px;
    width: 30%;
    
}
.about-right p{
    color: white;
}


footer{
    width:100%;
    height: 235px;
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    /* position: absolute;
    bottom: 0;
    width: 100%; */
   
    
}
footer p{
    color: black;
}