*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
    padding:15px ;
    background-color:yellowgreen;
    border-bottom: 2px solid fuchsia;

}
h1{
    color: white;
}
span{
    color: fuchsia;
}
a{
    text-decoration: none;
    font-size: 24px;
    color:white ;
    margin: 15px;
    transition: all .2s ease-in-out;
}
a:hover{
    color: fuchsia;
    transform: scale(1.2);
    font-size:30px ;
}

.div1{
    width: 100%;
    height: 20%;
    background-color: yellowgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

p{
    font-size: 20px;
    color: white;
}
input{
    padding: 7px;
    border-radius: 15px;
    border: none;

}
button{
    background-color: red;
    padding: 7px;
    border-radius: 10px;
    color: white;
    border: none;
}
button:hover{
    cursor: pointer;
    
}
.center{width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    
}
.services{
    
    width: 70%;
    height:600px;
    

    
    
    
}
.services p{
    color: black;
}
.services div{
    background-color: rgb(243, 237, 237);
    margin: 5px 20px;
    padding: 30px ;
    
    
}
.form{background-color: yellowgreen;
    width: 40%;
    height: 30%;
    margin: 40px;
    padding: 20px;
    color: white;

}
.form input{
    width: 400px;
}
.form button{
    padding: 10px 20px;
    margin: 5px;
}
.form button:hover{
    cursor: pointer;

}

footer{
    width:100%;
    height: 235px;
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer p{
    color: black;
}